


<div class="container pt-4 mt-4">
    <h2 class="bg-primary text-center text-light">Crear productos</h2>  
    <div>
        <form action="" method="post">
            <div class="form-group">
              <div class="row">
                <div class="colP col-md-2 text-lg-5">
                    <label for="Codigo producto">Codigo producto</label>
                    <label for="Codigo producto">Nombre del producto</label>
                    <label for="Codigo producto">Descripcion del producto</label>
                    <label for="Codigo producto">Precio del producto</label>
                </div>
                <div class="colT col-md-6">
                    
                <input type="text" name="" id="" class="form-control" placeholder="Codigo Producto" aria-describedby="helpId">
                <input type="text" name="" id="" class="form-control" placeholder="Nombre" aria-describedby="helpId">
                <input type="text" name="" id="" class="form-control" placeholder="Descripcion" aria-describedby="helpId">
                <div class="col col-md-12 PrecioCantidad">
                    <input type="text" name="" id="" class="form-control precio" placeholder="Precio" aria-describedby="helpId">
                    
                    <input type="number" name="" id="" class="form-control" placeholder="Cantidad" aria-describedby="helpId">
                    

                </div>
                
                
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione una categoria</option>
                    <option value="1">Accesorio</option>
                    <option value="2">Portatiles</option>
                    <option value="3">Otros</option>
                  </select>

                <button class="btn btn-primary text-center">Guardar</button>
                </div>
                
                <div class="col colimg ">
                    <div class="card-columns">
                        <div class="card">
                            <a href=""><img class="card-img-top" src="" alt="">
                                <i class="fa-solid fa-plus iconoimg"></i>Agregar fosto</a>
                        </div>
                        
                    </div>
                </div>
                
              </div>
              
              
            </div>
            
        </form>
    </div>
</div>

